.main_portfolio_section{
    /*background: #DFDBDD;*/
    /*background: #EDEDED;*/
    background: #F6F5F5;
    /*background: #F0E6EA;*/
    height: 650px;
    position: relative;
}
#portfolio_title{
    height: 115px;
    width: 350px;
    position: absolute;
    top: 55px;
    left: calc(50% - 167px);
    padding-top: 24px;
    text-align: center;
    line-height: 42px;
    color: #543441;
}
#portfolio_title h1{
    font-family: 'Rock Salt', cursive;
    font-size:40px; 
}

#portfolio_title p{
    font-family: 'Antic', sans-serif;
    font-size: 24px;
    font-weight: 100;
}

#projects_holder{
    height: 290px;
    width: 940px;
    /* border: 2px solid black; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
    left: calc(50% - 470px);
    top: 235px;
}
.personal_proj{
    background: url('./../../img/jamba3.png') center no-repeat;
    background-size: cover;
    height: 280px;
    width: 280px;
}

.personal_hover{
    height: 100%;
    width: 100%;
    opacity: 0;
}

.personal_hover:hover{
    opacity:1;
    cursor:pointer;
}
#personal_hover_overlay{
    height: 100%;
    width: 100%;
    background: #543441;
    opacity: 0.8;
}

.personal_hover_words{
    position: absolute;
    top: 50px;
    left: calc(50% - 389px);
    margin-right: auto;
    color: white;
    height: 180px;
    /*border: 2px solid white;*/
    width: 155px;
    line-height: 26px;
    text-align: center;
}

.personal_hover_words h1{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.personal_hover_words p{
    font-family: 'Antic', sans-serif;
    font-size: 17px;
    font-weight: 100;
}
.group_proj{
    background: url('./../../img/youtube.png') center no-repeat;
    background-size: cover;
    height: 280px;
    width: 280px;
}
.group_hover{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
}

.group_hover:hover{
    opacity:1;
    cursor:pointer;
}
#group_hover_overlay{
    height: 100%;
    width: 100%;
    background: #543441;
    opacity: 0.8;
}

.group_hover_words{
    position: absolute;
    top: 50px;
    left: calc(50% - 76px);
    margin-right: auto;
    color: white;
    height: 180px;
    /* border: 2px solid white; */
    width: 155px;
    line-height: 26px;
    text-align: center;
}

.group_hover_words h1{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.group_hover_words p{
    font-family: 'Antic', sans-serif;
    font-size: 17px;
    font-weight: 100;
}
.no_server{
    background: url('./../../img/no-server.png') center no-repeat;
    background-size: cover;
    height: 280px;
    width: 280px;
}

.no_server_hover{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
}

.no_server_hover:hover{
    opacity:1;
    cursor:pointer;
}
#no_server_hover_overlay{
    height: 100%;
    width: 100%;
    background: #543441;
    opacity: 0.8;
}

.no_server_hover_words{
    position: absolute;
    top: 50px;
    left: calc(50% - 76px);
    margin-right: auto;
    color: white;
    height: 180px;
    /* border: 2px solid white; */
    width: 155px;
    line-height: 26px;
    text-align: center;
}

.no_server_hover_words h1{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.no_server_hover_words p{
    font-family: 'Antic', sans-serif;
    font-size: 17px;
    font-weight: 100;
}

/*#personal_holder{
    height: 290px;
    width: 555px;
    border: 3px solid white;
    position: absolute;
    top: 250px;
    left: 40px;
    z-index: 100;

}

.personal_proj_img{
    position: absolute;
    left: 14px;
    top: 286px;
}
.personal_proj_img img{
    height: 212px;
}

.personal_proj_info{
    width: 178px;
    height: 88px;
    position: absolute;
    right: 14px;
    bottom: 139px;
    text-align: center;
}
.personal_proj_info h2{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    margin-bottom: 22px;
}
.personal_proj_info p{
    font-family: 'Antic', sans-serif;
    font-size: 15px;
    line-height: 22px;
}

#group_holder{
    height: 290px;
    width: 555px;
    border: 3px solid white;
    position: absolute;
    bottom: 210px;
    right: 40px;
    z-index: 100;

}

.group_proj_img{
    position: absolute;
    right: 240px;
    top: 520px;
}
.group_proj_img img{
    height: 215px;
}

.group_proj_info{
    width: 178px;
    height: 88px;
    position: absolute;
    right: 14px;
    bottom: 139px;
    text-align: center;
}
.group_proj_info h2{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    margin-bottom: 22px;
}
.group_proj_info p{
    font-family: 'Antic', sans-serif;
    font-size: 15px;
    line-height: 22px;
}

#no_server_holder{
    height: 290px;
    width: 555px;
    border: 3px solid white;
    position: absolute;
    bottom: 0px;
    left: 40px;
    z-index: 100;

}

.no_server_proj_img{
    position: absolute;
    left: 14px;
    top: 752px;
}
.no_server_proj_img img{
    height: 215px;
}

.no_server_proj_info{
    width: 178px;
    height: 88px;
    position: absolute;
    right: 14px;
    bottom: 139px;
    text-align: center;
}
.no_server_proj_info h2{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    margin-bottom: 22px;
}
.no_server_proj_info p{
    font-family: 'Antic', sans-serif;
    font-size: 15px;
    line-height: 22px;
}


*/
