.main_portfolio_section{
    /*background: #DFDBDD;*/
    /*background: #EDEDED;*/
    background: #F6F5F5;
    /*background: #F0E6EA;*/
    height: 650px;
    position: relative;
    overflow: hidden;
}
#portfolio_title{
    height: 115px;
    width: 350px;
    position: absolute;
    top: 55px;
    left: calc(50% - 167px);
    padding-top: 24px;
    text-align: center;
    line-height: 42px;
    color: #543441;
}
#portfolio_title h1{
    font-family: 'Rock Salt', cursive;
    font-size:40px; 
}

#portfolio_title p{
    font-family: 'Antic', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

#projects_holder{
    height: 305px;
    width: 900px;
     /*border: 2px solid black; */
    position: absolute;
    left: calc(50% - 450px);
    top: 235px;
    display: block;
}

#mobile_projects_holder{
    height: 305px;
    width: 300px;
     /*border: 2px solid black; */
    /*display: flex;
    justify-content: space-around;
    flex-wrap: wrap;*/
    position: absolute;
    left: calc(50% - 150px);
    top: 235px;
    display: none;
}

.slick-list{
    padding: 0
}
.personal_proj{
    background: url('./../../img/jamba3.png') center no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    box-shadow: 3px 3px 3px lightgray;
}
.personal_hover{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
    transition: all 0.5s;
}

.personal_hover:hover{
    opacity:1;
    cursor:pointer;
}
#personal_hover_overlay{
    height: 100%;
    width: 100%;
    background: #543441;
    opacity: 0.8;
    transition: all 0.5s;
}

.personal_hover_words{
    position: absolute;
    top: 50px;
    left: calc(50% - 76px);
    margin-right: auto;
    color: white;
    height: 180px;
    /* border: 2px solid white; */
    width: 155px;
    line-height: 26px;
    text-align: center;
    transition: all 0.5s;
}

.personal_hover_words h1{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.personal_hover_words p{
    font-family: 'Antic', sans-serif;
    font-size: 17px;
    font-weight: 100;
}

.personal_hover_links h2 a{
    position: absolute;
    bottom: -25px;
    left: -45px;
    margin-right: auto;
    color: white;
    height: 75px;
    /* border: 2px solid white; */
    width: 200px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.personal_hover_links h2 a:hover{
    opacity: 1;
    text-decoration: underline;
}
.personal_hover_links h1 a{
    position: absolute;
    bottom: -25px;
    right: -20px;
    margin-right: auto;
    color: white;
    height: 75px;
    /* border: 2px solid white; */
    width: 200px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.personal_hover_links h1 a:hover{
    opacity: 1;
    text-decoration: underline;
}

h2{
    font-size: 16px;
    font-weight: 100;
}

.slick-list{
    padding: 0 !important;
    }

@media(max-width: 960px){
    #projects_holder{
        display:none;
    }
    #mobile_projects_holder{
        display: block;
    }
    .slick-list{
    padding: 0 !important;
    }
}
.group_proj{
    background: url('./../../img/youtube.png') center no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    box-shadow: 3px 3px 3px lightgray;
}
.group_hover{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
    transition: all 0.5s;
}

.group_hover:hover{
    opacity:1;
    cursor:pointer;
}
#group_hover_overlay{
    height: 100%;
    width: 100%;
    background: #543441;
    opacity: 0.8;
    transition: all 0.5s;
}

.group_hover_words{
    position: absolute;
    top: 50px;
    left: calc(50% - 76px);
    margin-right: auto;
    color: white;
    height: 180px;
    /* border: 2px solid white; */
    width: 155px;
    line-height: 26px;
    text-align: center;
    transition: all 0.5s;
}

.group_hover_words h1{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.group_hover_words p{
    font-family: 'Antic', sans-serif;
    font-size: 17px;
    font-weight: 100;
}

.group_hover_links h2 a{
    position: absolute;
    bottom: -25px;
    left: -45px;
    margin-right: auto;
    color: white;
    height: 75px;
    /* border: 2px solid white; */
    width: 200px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.group_hover_links h2 a:hover{
    opacity: 1;
    text-decoration: underline;
}
.group_hover_links h1 a{
    position: absolute;
    bottom: -25px;
    right: -20px;
    margin-right: auto;
    color: white;
    height: 75px;
    /* border: 2px solid white; */
    width: 200px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.group_hover_links h1 a:hover{
    opacity: 1;
    text-decoration: underline;
}
.no_server{
    background: url('./../../img/no-server.png') center no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    box-shadow: 3px 3px 3px lightgray;
}

.no_server_hover{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
}

.no_server_hover:hover{
    opacity:1;
    cursor:pointer;
    transition: all 0.5s;
}
#no_server_hover_overlay{
    height: 100%;
    width: 100%;
    background: #543441;
    opacity: 0.8;
    transition: all 0.5s;
}

.no_server_hover_words{
    position: absolute;
    top: 50px;
    left: calc(50% - 76px);
    margin-right: auto;
    color: white;
    height: 180px;
    /* border: 2px solid white; */
    width: 155px;
    line-height: 26px;
    text-align: center;
    transition: all 0.5s;
}

.no_server_hover_words h1{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.no_server_hover_words p{
    font-family: 'Antic', sans-serif;
    font-size: 17px;
    font-weight: 100;
}

.no_server_hover_links h2 a{
    position: absolute;
    bottom: -25px;
    left: -45px;
    margin-right: auto;
    color: white;
    height: 75px;
    /* border: 2px solid white; */
    width: 200px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.no_server_hover_links h1 a{
    position: absolute;
    bottom: -25px;
    right: -20px;
    margin-right: auto;
    color: white;
    height: 75px;
    /* border: 2px solid white; */
    width: 200px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.no_server_hover_links h1 a:hover{
    opacity: 1;
    text-decoration: underline;
}
.no_server_hover_links h2 a:hover{
    opacity: 1;
    text-decoration: underline;
}

.zodiac{
    background: url('./../../img/zodiacMobile.png') center no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    box-shadow: 3px 3px 3px lightgray;
}

.zodiac_hover{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
}

.zodiac_hover:hover{
    opacity:1;
    cursor:pointer;
    transition: all 0.5s;
}
#zodiac_hover_overlay{
    height: 100%;
    width: 100%;
    background: #543441;
    opacity: 0.8;
    transition: all 0.5s;
}

.zodiac_hover_words{
    position: absolute;
    top: 50px;
    left: calc(50% - 76px);
    margin-right: auto;
    color: white;
    height: 180px;
    /* border: 2px solid white; */
    width: 155px;
    line-height: 26px;
    text-align: center;
    transition: all 0.5s;
}

.zodiac_hover_words h1{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

.zodiac_hover_words p{
    font-family: 'Antic', sans-serif;
    font-size: 17px;
    font-weight: 100;
}

.zodiac_hover_links h2 a{
    position: absolute;
    bottom: -25px;
    left: -45px;
    margin-right: auto;
    color: white;
    height: 75px;
    /* border: 2px solid white; */
    width: 200px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.zodiac_hover_links h1 a{
    position: absolute;
    bottom: -25px;
    right: -20px;
    margin-right: auto;
    color: white;
    height: 75px;
    /* border: 2px solid white; */
    width: 200px;
    line-height: 26px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    opacity: 0.6;
    text-decoration: none;
}
.zodiac_hover_links h1 a:hover{
    opacity: 1;
    text-decoration: underline;
}
.zodiac_hover_links h2 a:hover{
    opacity: 1;
    text-decoration: underline;
}


/*@media(max-width: 350px){
    #mobile_projects_holder{
        width: 250px;
        height: 251px;
    }
    .group_proj{
        width: 250px;
        height: 251px;
    }
    .personal_proj{
        width: 250px;
        height: 251px;
    }
    .no_server{
        width: 250px;
        height: 251px
    }
}*/

/*#personal_holder{
    height: 290px;
    width: 555px;
    border: 3px solid white;
    position: absolute;
    top: 250px;
    left: 40px;
    z-index: 100;

}

.personal_proj_img{
    position: absolute;
    left: 14px;
    top: 286px;
}
.personal_proj_img img{
    height: 212px;
}

.personal_proj_info{
    width: 178px;
    height: 88px;
    position: absolute;
    right: 14px;
    bottom: 139px;
    text-align: center;
}
.personal_proj_info h2{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    margin-bottom: 22px;
}
.personal_proj_info p{
    font-family: 'Antic', sans-serif;
    font-size: 15px;
    line-height: 22px;
}

#group_holder{
    height: 290px;
    width: 555px;
    border: 3px solid white;
    position: absolute;
    bottom: 210px;
    right: 40px;
    z-index: 100;

}

.group_proj_img{
    position: absolute;
    right: 240px;
    top: 520px;
}
.group_proj_img img{
    height: 215px;
}

.group_proj_info{
    width: 178px;
    height: 88px;
    position: absolute;
    right: 14px;
    bottom: 139px;
    text-align: center;
}
.group_proj_info h2{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    margin-bottom: 22px;
}
.group_proj_info p{
    font-family: 'Antic', sans-serif;
    font-size: 15px;
    line-height: 22px;
}

#no_server_holder{
    height: 290px;
    width: 555px;
    border: 3px solid white;
    position: absolute;
    bottom: 0px;
    left: 40px;
    z-index: 100;

}

.no_server_proj_img{
    position: absolute;
    left: 14px;
    top: 752px;
}
.no_server_proj_img img{
    height: 215px;
}

.no_server_proj_info{
    width: 178px;
    height: 88px;
    position: absolute;
    right: 14px;
    bottom: 139px;
    text-align: center;
}
.no_server_proj_info h2{
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
    margin-bottom: 22px;
}
.no_server_proj_info p{
    font-family: 'Antic', sans-serif;
    font-size: 15px;
    line-height: 22px;
}


*/
