.main_about_section{
    background: #F6F5F5;
    height: 500px;
    width: 100%;
    position: relative
}

#about_title{
    height: 120px;
    width: 100%;
    text-align: center;
    /*border: 1px solid black;*/
    padding-top: 50px;
    line-height: 45px;
    color: #543441;
}
#about_title h1{
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    color: #543441;
}
#about_title p{
    font-family: 'Antic', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #543441;
}
#about_title p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.pic_desc_holder{
    /*border: 2px solid lime;*/
    height: 335px;
    width: 1190px;
    position: relative;
    margin-left: auto;
    margin-right:auto;
}



#about_pic{
    background: url("./../../img/me.JPG") center no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -10px;
}

#about_desc{
    /* border: 1px dashed darkcyan; */
    height: 200px;
    width: 740px;
    position: absolute;
    left: 0;
    top: 74px;
}

#about_desc p{
    font-family: 'Antic', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    color: #543441
}

@media(max-width: 1204px){
    .pic_desc_holder{
        width: 1040px;
    }
    #about_pic{
        height: 230px;
        width: 230px;
        top: calc(50% - 115px);
    }
}

@media(max-width: 1058px){
    .main_about_section{
        height: 720px;
    }
    .pic_desc_holder{
        height: 600px;
        width: 100%;
        /*border: 1px dashed darkcyan;*/
    }
    #about_desc{
        top: 340px;
        left: calc(50% - 370px)
    }
    #about_pic{
        top: 60px;
        right: calc(50% - 115px)
    }
}

@media(max-width: 748px){
    #about_desc{
        width: 550px;
        left: calc(50% - 275px);
        top: 310px;
    }
    #about_desc p{
        font-size: 17px;
    }
}

@media(max-width: 570px){
    .main_about_section{
        height: 900px;
    }
    .pic_desc_holder{
        height: 760px;
        width: 100%;
        /*border: 1px dashed darkcyan;*/
    }
    #about_desc{
        width: 95%;
        left: 2.5%;
    }
}