.main_about_section{
    background: #F6F5F5;
    height: 500px;
    width: 100%;
    position: relative
}

#about_title{
    height: 120px;
    width: 100%;
    text-align: center;
    /*border: 1px solid black;*/
    padding-top: 50px;
    line-height: 45px;
    color: #543441;
}
#about_title h1{
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    color: #543441;
}
#about_title p{
    font-family: 'Antic', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #543441;
}
#about_title p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.pic_desc_holder{
    /*border: 2px solid lime;*/
    height: 335px;
    width: 1315px;
    position: relative;
    margin-left: auto;
    margin-right:auto;
}
#about_pic{
    background: url("./../../img/me.JPG") center no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: -10px;
}

#about_desc{
    /* border: 1px dashed darkcyan; */
    height: 200px;
    width: 740px;
    position: absolute;
    left: 64px;
    top: 74px;
}

#about_desc p{
    font-family: 'Antic', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    color: #543441
}